@require "_vars.styl"


///////////////////////////
//
// margin & padding helpers
//

// margin
.m-t-s
	margin-top spacer
.m-b-s
	margin-bottom spacer
.m-r-s
	margin-right spacer
.m-l-s
	margin-left spacer
.m-y-s
	margin-top spacer
	margin-bottom spacer
.m-x-s
	margin-left spacer
	margin-right spacer
.m-t-m
	margin-top spacer*space_mult_m
.m-b-m
	margin-bottom spacer*space_mult_m
.m-r-m
	margin-right spacer*space_mult_m
.m-l-m
	margin-left spacer*space_mult_m
.m-y-m
	margin-top spacer*space_mult_m
	margin-bottom spacer*space_mult_m
.m-x-m
	margin-left spacer*space_mult_m
	margin-right spacer*space_mult_m
.m-t-l
	margin-top spacer*space_mult_l
.m-b-l
	margin-bottom spacer*space_mult_l
.m-r-l
	margin-right spacer*space_mult_l
.m-l-l
	margin-left spacer*space_mult_l
.m-y-l
	margin-top spacer*space_mult_l
	margin-bottom spacer*space_mult_l
.m-x-l
	margin-left spacer*space_mult_l
	margin-right spacer*space_mult_l
// padding
.p-t-s
	padding-top spacer
.p-b-s
	padding-bottom spacer
.p-r-s
	padding-right spacer
.p-l-s
	padding-left spacer
.p-y-s
	padding-top spacer
	padding-bottom spacer
.p-x-s
	padding-left spacer
	padding-right spacer
.p-t-m
	padding-top spacer*space_mult_m
.p-b-m
	padding-bottom spacer*space_mult_m
.p-r-m
	padding-right spacer*space_mult_m
.p-l-m
	padding-left spacer*space_mult_m
.p-y-m
	padding-top spacer*space_mult_m
	padding-bottom spacer*space_mult_m
.p-x-m
	padding-left spacer*space_mult_m
	padding-right spacer*space_mult_m
.p-t-l
	padding-top spacer*space_mult_l
.p-b-l
	padding-bottom spacer*space_mult_l
.p-r-l
	padding-right spacer*space_mult_l
.p-l-l
	padding-left spacer*space_mult_l
.p-y-l
	padding-top spacer*space_mult_l
	padding-bottom spacer*space_mult_l
.p-x-l
	padding-left spacer*space_mult_l
	padding-right spacer*space_mult_l