///////////////////////////
//
// VARIABLES
//

// vars - sizing
//
sm = 0.2em
md = 0.5em
lg = 1em
spacer = 1em
space_mult_m = 1.625
space_mult_l = 2.4375
colspacer = 1em

// vars - colors
//
c_gray =		#666
c_red =			#f00

// vars - breakpoints
//
sm_max = 640px; // 0, 640px
md_max = 1024px; // 641px, 1024px
lg_max = 1440px; // 1025px, 1440px
xl_max = 1920px; // 1441px, 1920px
xxl_min = 1921px; // 1921px

// media queries hash for bp function
//
media_queries = {
  sm : "only screen and (max-width: " + sm_max + ")",
  md : "only screen and (min-width: " + (sm_max + 1) + ") and (max-width: " + (md_max) + ")",
  lg : "only screen and (min-width: " + (md_max + 1) + ") and (max-width: " + (lg_max) + ")",
  xl : "only screen and (min-width: " + (lg_max + 1) + ") and (max-width: " + (xl_max) + ")",  
  xxl : "only screen and (min-width: " + (xl_max + 1)
}

////////////////////////////////////////////////
//	function: bp
//
//		assemble list of breakpoints
//		based on up-to multiple breakpoints passed
//
//		usage:
//		+bp("sm" "md")
//			class_name
//				prop val
////////////////////////////////////////////////

bp(breakpoints)
	conditions = ()
	for breakpoint in breakpoints
		push( conditions, media_queries[breakpoint])
	conditions = join(", ", conditions)
	@media conditions
		{block}
