@require "_vars.styl"


// fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic")


///////////////////////////
//
// foundation redefs
//
body, 
h1,h2,h3,h4,h5,h6
	font-family 'Open Sans', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;

h1,h2,h3,h4,h5,h6
	font-weight 700
	
@media screen and (min-width: bp_md)
	h1,h2,h3,h4,h5,h6
		color c_red !important

.row .columns
.row .column
	padding-left colspacer
	padding-right colspacer

body .row
	border-top 2px solid black
	padding-top lg
	padding-bottom lg
	&.nobd 
		border-top none
	&.flush
		padding-top 0
		padding-bottom 0
		border-top 0
		

[class*="large-block"]
	img
		display inline-block
		padding md
		margin 0 auto


///////////////////////////
//
// doc classes
//

.bphdrs
	background-color yellow
	text-transform uppercase
	color darkgray
	font-weight bold
	letter-spacing sm*2.25
	padding md 0 0
	
.badge
	font-size 24px
	font-weight bold
	text-align center
	display block
	margin 0 auto 1em
	width 2em

.img-rsp
	max-width 100%

///////////////////////////
// main menu
//
#main-menu
	.site-title
		font-size 1.65em
		padding 0.375rem 0 0 1rem
		margin 0
		
	.menu
		li
			border-left solid 2px lighten(c_gray, 70%)
		a
			padding 1rem 2rem
			font-weight bold
			
			&:hover
				background-color c_gray
				color white



@require "_helpers.styl"

@require "_bp.styl"