///////////////////////////
//
// VARIABLES
//

// vars - sizing
sm = 0.2em
md = 0.5em
lg = 1em
spacer = 1em
space_mult_m = 1.625
space_mult_l = 2.4375
colspacer = 1em

// vars - colors
c_gray = #666

// vars - breakpoints
bp_small = 40em;				// 0, 640px
bg_medium = 64em;				// 641px, 1024px
bg_large = 90em;				// 1025px, 1440px
bg_xlarge = 120em;			// 1441px, 1920px
bg_xxlarge = 120.063em;	// 1921px



// fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic")


///////////////////////////
//
// foundation redefs
//
body, 
h1,h2,h3,h4,h5,h6
	font-family 'Open Sans', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;

h1,h2,h3,h4,h5,h6
	font-weight 700

.row .columns
.row .column
	padding-left colspacer
	padding-right colspacer

body .row
	border-top 2px solid black
	padding-top lg
	padding-bottom lg
	&.nobd 
		border-top none
	&.flush
		padding-top 0
		padding-bottom 0
		border-top 0
		

[class*="large-block"]
	img
		display inline-block
		padding md
		margin 0 auto


///////////////////////////
//
// doc classes
//

.bphdrs
	background-color yellow
	text-transform uppercase
	color darkgray
	font-weight bold
	letter-spacing sm*2.25
	padding md 0 0
	
.badge
	font-size 24px
	font-weight bold
	text-align center
	display block
	margin 0 auto 1em
	width 2em

.img-rsp
	max-width 100%

///////////////////////////
// main menu
//
#main-menu
	.site-title
		font-size 1.65em
		padding 0.375rem 0 0 1rem
		margin 0
		
	.menu
		li
			border-left solid 2px lighten(c_gray, 70%)
		a
			padding 1rem 2rem
			font-weight bold
			
			&:hover
				background-color c_gray
				color white

///////////////////////////
//
// margin & padding helpers
//

// margin
.m-t-s
	margin-top spacer
.m-b-s
	margin-bottom spacer
.m-r-s
	margin-right spacer
.m-l-s
	margin-left spacer
.m-y-s
	margin-top spacer
	margin-bottom spacer
.m-x-s
	margin-left spacer
	margin-right spacer
.m-t-m
	margin-top spacer*space_mult_m
.m-b-m
	margin-bottom spacer*space_mult_m
.m-r-m
	margin-right spacer*space_mult_m
.m-l-m
	margin-left spacer*space_mult_m
.m-y-m
	margin-top spacer*space_mult_m
	margin-bottom spacer*space_mult_m
.m-x-m
	margin-left spacer*space_mult_m
	margin-right spacer*space_mult_m
.m-t-l
	margin-top spacer*space_mult_l
.m-b-l
	margin-bottom spacer*space_mult_l
.m-r-l
	margin-right spacer*space_mult_l
.m-l-l
	margin-left spacer*space_mult_l
.m-y-l
	margin-top spacer*space_mult_l
	margin-bottom spacer*space_mult_l
.m-x-l
	margin-left spacer*space_mult_l
	margin-right spacer*space_mult_l
// padding
.p-t-s
	padding-top spacer
.p-b-s
	padding-bottom spacer
.p-r-s
	padding-right spacer
.p-l-s
	padding-left spacer
.p-y-s
	padding-top spacer
	padding-bottom spacer
.p-x-s
	padding-left spacer
	padding-right spacer
.p-t-m
	padding-top spacer*space_mult_m
.p-b-m
	padding-bottom spacer*space_mult_m
.p-r-m
	padding-right spacer*space_mult_m
.p-l-m
	padding-left spacer*space_mult_m
.p-y-m
	padding-top spacer*space_mult_m
	padding-bottom spacer*space_mult_m
.p-x-m
	padding-left spacer*space_mult_m
	padding-right spacer*space_mult_m
.p-t-l
	padding-top spacer*space_mult_l
.p-b-l
	padding-bottom spacer*space_mult_l
.p-r-l
	padding-right spacer*space_mult_l
.p-l-l
	padding-left spacer*space_mult_l
.p-y-l
	padding-top spacer*space_mult_l
	padding-bottom spacer*space_mult_l
.p-x-l
	padding-left spacer*space_mult_l
	padding-right spacer*space_mult_l
