// vars
spacer = 1em
marginmult_m = 1.625
marginmult_l = 2.4375
colspacer = 1em

///////////////////////////
// redefs
//
.row .columns
.row .column
	padding-left colspacer
	padding-right colspacer

///////////////////////////
// doc classes
//
.badge
	font-size 24px
	font-weight bold
	text-align center
	display block
	margin 0 auto 1em
	width 2em

.img-rsp
	max-width 100%

///////////////////////////
// margin & padding helpers
//
.m-t-s
	margin-top spacer
.m-b-s
	margin-bottom spacer
.m-r-s
	margin-right spacer
.m-l-s
	margin-left spacer
.m-y-s
	margin-top spacer
	margin-bottom spacer
.m-x-s
	margin-left spacer
	margin-right spacer
.m-t-m
	margin-top spacer*marginmult_m
.m-b-m
	margin-bottom spacer*marginmult_m
.m-r-m
	margin-right spacer*marginmult_m
.m-l-m
	margin-left spacer*marginmult_m
.m-y-m
	margin-top spacer*marginmult_m
	margin-bottom spacer*marginmult_m
.m-x-m
	margin-left spacer*marginmult_m
	margin-right spacer*marginmult_m
.m-t-l
	margin-top spacer*marginmult_l
.m-b-l
	margin-bottom spacer*marginmult_l
.m-r-l
	margin-right spacer*marginmult_l
.m-l-l
	margin-left spacer*marginmult_l
.m-y-l
	margin-top spacer*marginmult_l
	margin-bottom spacer*marginmult_l
.m-x-l
	margin-left spacer*marginmult_l
	margin-right spacer*marginmult_l
