@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic");
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
.row .columns,
.row .column {
  padding-left: 1em;
  padding-right: 1em;
}
body .row {
  border-top: 2px solid #000;
  padding-top: 1em;
  padding-bottom: 1em;
}
body .row.nobd {
  border-top: none;
}
body .row.flush {
  padding-top: 0;
  padding-bottom: 0;
  border-top: 0;
}
[class*="large-block"] img {
  display: inline-block;
  padding: 0.5em;
  margin: 0 auto;
}
.bphdrs {
  background-color: #ff0;
  text-transform: uppercase;
  color: #a9a9a9;
  font-weight: bold;
  letter-spacing: 0.45em;
  padding: 0.5em 0 0;
}
.badge {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0 auto 1em;
  width: 2em;
}
.img-rsp {
  max-width: 100%;
}
.m-t-s {
  margin-top: 1em;
}
.m-b-s {
  margin-bottom: 1em;
}
.m-r-s {
  margin-right: 1em;
}
.m-l-s {
  margin-left: 1em;
}
.m-y-s {
  margin-top: 1em;
  margin-bottom: 1em;
}
.m-x-s {
  margin-left: 1em;
  margin-right: 1em;
}
.m-t-m {
  margin-top: 1.625em;
}
.m-b-m {
  margin-bottom: 1.625em;
}
.m-r-m {
  margin-right: 1.625em;
}
.m-l-m {
  margin-left: 1.625em;
}
.m-y-m {
  margin-top: 1.625em;
  margin-bottom: 1.625em;
}
.m-x-m {
  margin-left: 1.625em;
  margin-right: 1.625em;
}
.m-t-l {
  margin-top: 2.4375em;
}
.m-b-l {
  margin-bottom: 2.4375em;
}
.m-r-l {
  margin-right: 2.4375em;
}
.m-l-l {
  margin-left: 2.4375em;
}
.m-y-l {
  margin-top: 2.4375em;
  margin-bottom: 2.4375em;
}
.m-x-l {
  margin-left: 2.4375em;
  margin-right: 2.4375em;
}
.p-t-s {
  padding-top: 1em;
}
.p-b-s {
  padding-bottom: 1em;
}
.p-r-s {
  padding-right: 1em;
}
.p-l-s {
  padding-left: 1em;
}
.p-y-s {
  padding-top: 1em;
  padding-bottom: 1em;
}
.p-x-s {
  padding-left: 1em;
  padding-right: 1em;
}
.p-t-m {
  padding-top: 1.625em;
}
.p-b-m {
  padding-bottom: 1.625em;
}
.p-r-m {
  padding-right: 1.625em;
}
.p-l-m {
  padding-left: 1.625em;
}
.p-y-m {
  padding-top: 1.625em;
  padding-bottom: 1.625em;
}
.p-x-m {
  padding-left: 1.625em;
  padding-right: 1.625em;
}
.p-t-l {
  padding-top: 2.4375em;
}
.p-b-l {
  padding-bottom: 2.4375em;
}
.p-r-l {
  padding-right: 2.4375em;
}
.p-l-l {
  padding-left: 2.4375em;
}
.p-y-l {
  padding-top: 2.4375em;
  padding-bottom: 2.4375em;
}
.p-x-l {
  padding-left: 2.4375em;
  padding-right: 2.4375em;
}
