doctype html

head
	
	title Home | Foundation Playground
	
	link(rel="stylesheet", href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css")
	link(rel="stylesheet", href="css/styles.css")

body

	.show-for-small-only #[h3.text-center Small Breakpoint]
	.show-for-medium-only #[h3.text-center Medium Breakpoint]
	.show-for-large-only #[h3.text-center Large Breakpoint]

	.row
		img.img-rsp(src="http://placeimg.com/1600/540")

	.row.m-t-m
		.medium-4.columns
			span.secondary.badge 1
			p.
				Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
		.medium-4.columns
			span.secondary.badge 2
			p.
				Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
		.medium-4.columns
			span.secondary.badge 3
			p.
				Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

	// scripts
	script(src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js")
