doctype html

head
	
	title Home | Foundation Playground
	
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css")
	link(rel="stylesheet", href="css/styles.css")

body
	#main-menu.row.flush
		.medium-4.columns
			h1.site-title Site Title Here
		.medium-8.columns
			ul.menu.expanded
				li #[a(href="#") Menu One]
				li #[a(href="#") Menu Two]
				li #[a(href="#") Menu Three]
				li #[a(href="#") Menu Four]

	.row.bphdrs
		.show-for-small-only #[h3.text-center Small Breakpoint]
		.show-for-medium-only #[h3.text-center Medium Breakpoint]
		.show-for-large-only #[h3.text-center Large Breakpoint]

	.row.flush
		img.img-rsp(src="http://placeimg.com/1600/540")

	.row
		.row.nobd
			.medium-10.medium-centered.columns
				.large-4.columns
					span.secondary.badge 1
					p.
						#[h3 Cras justo odio]
						Dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
				.large-4.columns
					span.secondary.badge 2
					p.
						#[h3 Praesent commodo cursus]
						Magna vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				.large-4.columns
					span.secondary.badge 3
					p.
						#[h3 Dum sociis natoque penatibus]
						Et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

	.row
		.medium-6.columns
			.callout.warning
				button.button.dropdown.round Should be a rounded button
				p Mariola fume losocim natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
		.medium-6.columns
			p Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

	.row
		.large-12.columns
			h3.text-right.medium-text-center.uppercase Text to align


	.row
		.medium-8.small-12.columns
			form.p-x-s
				.row.nobd
					.large-12.columns
						labelInput Label
						input(type="text", placeholder="input label here")
				.row.nobd
					.large-4.columns
						labelInput Label
						input(type="text", placeholder="input label here")
					.large-4.columns
						labelInput Label
						input(type="text", placeholder="placeholder text")
					.large-4.columns
						.row.nobd.collapse
							label Input Label/label
							.small-9.columns
								input(type="text", placeholder="placeholder text")
							.small-3.columns
								span.postfix .com
				.row.nobd
					.large-12.columns
						labelSelect Box
						select
							option(value="husker") Husker
							option(value="starbuck") Starbuck
							option(value="hotdog") Hot Dog
							option(value="apollo") Apollo
				.row.nobd
					.large-6.columns
						label Choose Your Favorite
						input#pokemonRed(type="radio", name="pokemon", value="Red")
						label(for="pokemonRed") Red
						input#pokemonBlue(type="radio", name="pokemon", value="Blue")
						label(for="pokemonBlue") Blue
					.large-6.columns
						label Check these out
						input#checkbox1(type="checkbox")
						label(for="checkbox1") First Choice
						input#checkbox2(type="checkbox")
						label(for="checkbox2") Second Choice
				.row.nobd
					.large-12.columns
						label Textarea
						textarea(placeholder="small-12.columns", rows="6")
		.medium-4.small-12.columns
			table
				thead
					tr
						th(width="10%") client
						th(width="70%") project
						th(width="20%") sumpin
				tbody
					tr
						td 10010
						td Description here
						td 1
					tr
						td 10011
						td Description here
						td 1
					tr
						td 10012
						td Description here
						td 1
					tr
						td 10013
						td Description here
						td 1
					tr
						td 10014
						td Description here
						td 1
					tr
						td 10015
						td Description here
						td 1


	// scripts
	
	script(src="js/vendor/jquery.js")
	script(src="js/vendor/foundation.min.js")
	script(src="http://127.0.0.1:35729/livereload.js?snipver=1")
