doctype html

head
	
	title Home | Foundation Playground
	
	link(rel="stylesheet", href="css/foundation.min.css")
	link(rel="stylesheet", href="css/styles.css")

body
	#main-menu.row
		.medium-4.columns
			h1.site-title Site Title Here
		.medium-8.columns
			ul.menu.expanded
				li #[a(href="#") Menu One]
				li #[a(href="#") Menu Two]
				li #[a(href="#") Menu Three]
				li #[a(href="#") Menu Four]

	.row.bphdrs
		.show-for-small-only #[h3.text-center Small Breakpoint]
		.show-for-medium-only #[h3.text-center Medium Breakpoint]
		.show-for-large-only #[h3.text-center Large Breakpoint]

	.row
		img.img-rsp(src="http://placeimg.com/1600/540")

	.row.m-t-m
		.row
			.medium-10.medium-centered.columns
				.large-4.columns
					span.secondary.badge 1
					p.
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
				.large-4.columns
					span.secondary.badge 2
					p.
						Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				.large-4.columns
					span.secondary.badge 3
					p.
						Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

	.row.m-t-m
		a.th(href="#") #[img(src="http://placeimg.com/240/240")]
		a.th(href="#") #[img(src="http://placeimg.com/240/240")]
		a.th(href="#") #[img(src="http://placeimg.com/240/240")]
		a.th(href="#") #[img(src="http://placeimg.com/240/240")]

	.row.m-t-m
		.medium-6.columns
			.callout.warning
				button.button.dropdown.round Should be a rounded button
				p Mariola fume losocim natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
		.medium-6.columns
			p Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

	.row.m-t-m
		.large-12.columns
			h3.text-right.medium-text-center.uppercase Text to align


	// scripts
	script(src="js/vendor/jquery.js")
	script(src="js/vendor/foundation.min.js")
	script(src="http://127.0.0.1:35729/livereload.js?snipver=1")
