doctype html

head
	
	title Home | Foundation Playground
	link(rel="stylesheet", href="./css/styles.css")

body

	.row.expanded
		img(src="http://placehold.it/1600x640")

	.row
		.columns.small-12
			h1 Heading 1
			h2 Heading 2
			h3 Heading 3
			h4 Heading 4
			h5 Heading 5
			h6 Heading 6

	hr

	.row
		.columns.medium-4
			h4 Column 1
			p.
				Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper.
		.columns.medium-4
			h4 Column 2
			p.
				Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
		.columns.medium-4
			h4 Column 3
			p.
				Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
